_ {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: monospace;
}

.up {
  top: 25vh;
}

.down {
  top: 75vh;
}

.left {
  left: 25vw;
}

.right {
  left: 75vw;
}
