div {
    height: 10vh;
    width: 10vw;
    position: fixed;
}

#red {
    top: 39vh;
    left: 20vw;
}

#orange {
    top: 0vh;
    left: 46vw;
}

#blue {
    top: 14vh;
    left: 96vw;
}

#green {
    top: 67vh;
    left: 05vw;
}

#yellow {
    top: 62vh;
    left: 02vw;
}

#grey {
    top: 14vh;
    left: 29vw;
}

#black {
    top: 62vh;
    left: 59vw;
}